@import '../../style/styleGuide.scss';
.toggleButton {
  &-container {
    display:flex;
    justify-content: space-around;
    cursor:pointer;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: $color-secondary;
    z-index:0;
  }

  &-item {
    width: 45px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:2;
  }

  &-circle {
    position: absolute;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    margin-top:2px;
    width: 92px;
    height: 26px;
    border-radius: 15px;
    transition: 0.5s;
    z-index:1;

    &-item {
      position: relative;
      width: 46px;
      height: 26px;
      border-radius: 15px;
      background-color: $color-white;
      transition : 0.5s;
      &-checked {
        transform: translateX(46px);
        transition : 0.5s;
      }
    }
  }
}