@import './styleGuide';

// mixin :: flex
@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}


// 기본 설정
html {
  max-width: 320px;
  max-heigth: 568px;
  font-family: $font-family;
  font-size: 15px;
  overflow:auto;
}

body {
  min-width: 320px;
  min-heigth: 568px;
  margin: 0 auto;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  box-sizing: border-box;
}

code {
  font-family: $font-family;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-itemsL:center;
}

li {
  list-style: none;
}

// font
.font {
  font-family: $font-family;

  &-size {
    &-extraSmall {
      font-size: 0.9rem;
    }

    &-small {
      font-size: 0.95rem;
    }

    &-mid {
      font-size: 1rem;
    }

    &-midLarge {
      font-size: 1.1rem;
    }

    &-midLargeLarge {
      font-size: 1.4rem;
    }

    &-large {
      font-size: 1.7rem;
    }

    &-extraLarge {
      font-size: 2rem;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  &-weight {
    &-light {
      font-weight: 100;
    }

    &-strong {
      font-weight: 600;
    }
  }

  &-color {
    &-primary {
      color: $color-primary;
    }

    &-secondary {
      color: $color-secondary;
    }

    &-gray {
      color: $color-gray;
    }

    &-black {
      color: $color-black;
    }
  }
}


// flexbox 설정
.flex {
  &-container {
    min-width: 100vw;
    //min-height: 100vh;

    @include flex_center;
    flex-direction: column;
    //flex-wrap: wrap;
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }

  &-box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }

  &-content {
    flex: 0 0 100%;

    &-item {
      width: 30vw;
      display: flex;
    }

    &-center {
      width: 80vw;
      @include flex_center;
    }

    &-left {
      width: 80vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-right {
      width: 80vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-around {
      width: 80vw;
      display: flex;
      justify-content: space-around;
    }

    &-between {
      width: 80vw;
      display: flex;
      justify-content: space-between;
    }

    &-around-center {
      width: 60vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.header {
  @extend .flex-content-center;
  @extend .font-size-title;

  color: $color-primary;

  width: 100vh;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;

  position: sticky;
}

.line {
  width: 65vw;
  height: 1px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  background: $color-secondary;
}

.margin {
  &-top {
    &-7 {
      margin-top: 7px;
    }
    &-15 {
      margin-top: 15px;
    }
    &-30 {
      margin-top: 30px;
    }
  }

  &-topBottom {
    margin-top: 5px;
    margin-bottom: 5px;

    &-7 {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    &-20 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &-leftRight {
    &-5 {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &-right {
    &-5 {
      margin-right: 5px;
    }
    &-10 {
      margin-right: 10px;
    }
  }
}

.pre {
  width: 80vw;
  border:none;
  //word-wrap: break-word; /* or overflow-wrap: break-word; */
  overflow-wrap: break-word;
  white-space: normal;
}

.background {
  &-color {
    background-color: $color-bg;

    &-btn1 {
      background-color: $color-btn1;
    }
    &-btn2 {
      background-color: $color-btn2;
    }
    &-btn3 {
      background-color: $color-btn3;
    }
    &-secondary {
      background-color: $color-secondary;
    }
  }
}

.button {
  &-size {
    width: 5.5rem;
    height: 5.5rem;

    @include flex_center;
  }

  &-click {
    cursor:pointer;
  }
}