// color 모음
$color-bg: #FCF1CF;
$color-primary: #BC6C25;
$color-secondary: #E9C46A;
$color-gray: #949494;
$color-sub: #DDA15E;
$color-black: black;
$color-white: white;
$color-btn1: #606C38;
$color-btn2: #264653;
$color-btn3: #283618;
$color-btn4: #FF0000;

// font
$font-family: 'Gmarket Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
