@font-face {
	font-family: "Gmarket Sans";
	font-style: normal;
	font-weight: 100;
	src: url("./GmarketSansTTFLight.woff") format("woff");
}

@font-face {
	font-family: "Gmarket Sans";
	font-style: normal;
	font-weight: 500;
	src: url("./GmarketSansTTFMedium.woff") format("woff");
}

@font-face {
	font-family: "Gmarket Sans";
	font-style: normal;
	font-weight: bold;
	src: url("./GmarketSansTTFBold.woff") format("woff");
}