@import '../../../style/styleGuide.scss';

.admin-art {
  &-list {
    &-frame {
      width: 80vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-box {
      width:80vw;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      cursor:pointer;
    }
    &-box-column {
      width:52vw;
      margin-left:3vw;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: flex-start;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25vw;
      border-radius: 15px;
      //margin-top:20px;
    }
    &-button {
      display:flex;
      justify-content: center;
      align-items: center;
      width:50px;
      height:30px;
      background-color: $color-primary;
      border-radius: 7px;
      cursor:pointer;

      &:hover {
        background-color: $color-secondary;
      }

      &-layout {
        width:47vw;
        display:flex;
        justify-content: flex-end;
      }
    }
    &-box-button {
      margin-bottom: 20px;
      width: 70vw;
      height: 140px;
      padding: 7px;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: $color-secondary solid 7px;
      border-radius: 30px;
      cursor:pointer;
      &.add {
        height: 130px;
        background-color: $color-secondary;
      }
    }
  }
}

.info {
  width: 70vw;

  &-img {
    width: 50vw;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  &-tts {
    width: 60vw;
  }

  &-text {
    width: 70vw;
    border:none;
    //word-wrap: break-word; /* or overflow-wrap: break-word; */
    overflow-wrap: break-word;
    white-space: normal;
  }

}