@import '../../../style/styleGuide.scss';

.admin-museum {
  &-list {
    &-frame {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      //height: 100%;
    }
    &-box {
      margin-bottom: 20px;
      width: 70vw;
      padding: 7px;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: $color-secondary solid 7px;
      border-radius: 30px
    }
    &-box {
      margin-bottom: 20px;
      width: 70vw;
      height: 140px;
      padding: 7px;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: $color-secondary solid 7px;
      border-radius: 30px;
      cursor:pointer;
      &.add {
        height: 130px;
        background-color: $color-secondary;
      }
    }
    &-img {
      height: 140px;
      width: 30vw;
      border-radius: 20px;
    }
    &-content {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      &-item {
        margin-top: 10px;
      }
    }
  }
}